{% extends "logins/base.html" %}
{% block content %}
<h2 class="mt-5 text-center" style="font-weight:900">{{ branch }} - Billwise Payment Dashboard</h2>
<br><br><br>
<div class="d-flex justify-content-center align-items-center flex-wrap gap-5">
    {% for category in categories %}
        
            
            <a href="{% url 'bill_list' branch category %}"><div class="box text-light bg-primary">{{ category|upper }} BILL</div></a>
        
    {% endfor %}
</div>
{% endblock %}
