{% extends 'logins/base.html' %}
{% block content %}
<div class="container">
<h2 class="text-center mt-5" style="font-weight:900">My Work Status</h2>
<center>
<div class="mt-5">


<a href="{% url 'add_work_status' %}" class="btn btn-success mb-3">Add New Work Status</a>
</div>
</center>
<!-- <a href="{% url 'dashboard' %}">Dashboard</a> -->
<table class="table table-bordered mt-5 text-center">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Date</th>
            <th>Work Code</th>
            <th>Details</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for status in statuses %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ status.date }}</td>
            <td>{{ status.work_code }}</td>
            <td>{{ status.work_details }}</td>
            <td>{{ status.start_date }}</td>
            <td>{{ status.end_date }}</td>
            <td>{{ status.work_status }}</td>
            <td>
                <a href="{% url 'update_work_status' status.pk %}" class="btn btn-sm btn-info">Edit</a>
                <a href="{% url 'delete_work_status' status.pk %}" class="btn btn-sm btn-danger"
                onclick="return confirm('Are you sure you want to delete this work status?');">
                Delete
             </a>

                    
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="8">No work status found.</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
