{% extends "logins/base.html" %}
{% block content %}
<center>
<div class="container addmain mt-5">
    <h2 class="text-center" style="font-weight:900">{{ action }} Dealer</h2>
    <br>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3 pt-3">
            {{ form.S_NO.label_tag }}
            {{ form.S_NO }}
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <br>
        <button type="submit" class="btn btn-success">{{ action }}</button>
        <a href="{% url 'dealer_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</center>
{% endblock %}
