{% extends "logins/base.html" %}
{% block content %}
<div class="container-fluid mt-5">
    <h2 class="text-center mb-4" style="font-weight:900">OVERALL PURCHASE ORDERS</h2>
    <center>
    <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary mb-3">Back</a></center>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>S.NO</th>
                <th>DATE</th>
                <th>PO NO.</th>
                <th>BRANCH</th>
                <th>DEALER</th>
                <th>TOTAL AMOUNT</th>
                <th>PAYMENT DATE</th>
                <th>AMOUNT PAID</th>
                <th>BALANCE AMOUNT</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order.date|date:"d/m/Y" }}</td>
                <td>{{ order.po_no }}</td>
                <td>{{ order.branch }}</td>
                <td>{{ order.dealer }}</td>
                <td>{{ order.total_amount }}</td>
                <td>{{ order.payment_date|default:"-"|date:"d/m/Y" }}</td>
                <td>{{ order.amount_paid }}</td>
                <td>{{ order.balance_amount }}</td>
                <td>{{ order.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
