{% extends "logins/base.html" %}
{% load widget_tweaks %}
{% block content %}
<h2 class="text-center mt-5" style="font-weight:900;text-transform: uppercase;">Edit Publication Registration - {{ branch }}</h2>
<center>
<div class=" addmain mt-5">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">Update</button>
    <a href="{% url 'publication_registration_report' branch %}" class="btn btn-secondary">Cancel</a>
</form>
</div>
</center>
<br><br><br>
{% endblock %}
