{% extends "logins/base.html" %}
{% block content %}
<style>
    .box{
        width: 300px;
        height: 100px;
        /* background-color: rgb(27, 31, 29); */
        padding: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;
        
    }
    a{
        text-decoration: none;
    }
    .user-details{
        width: 400px;
        
    }
</style>

<h2 class="mt-5 text-center" style="font-weight:900">TIRUNELVELI INCHARGE DASHBOARD</h2>
<br><br><br>

<div class="d-flex justify-content-center align-items-center flex-wrap gap-5">
    <a href="{% url 'phd_registration_report' 'TIRUNELVELI' %}"><div class="box text-light bg-primary">PHD REGISTRATION REPORT</div></a>
    
    <a href="{% url 'project_registration_report' 'TIRUNELVELI' %}"><div class="box text-light bg-primary">PROJECT REGISTRATION REPORT</div></a>
    
    <a href="{% url 'internship_registration_report' 'TIRUNELVELI' %}"><div class="box text-light bg-primary">INTERNSHIP REGISTRATION REPORT</div></a>
    
    <a href="{% url 'publication_registration_report' 'TIRUNELVELI' %}"><div class="box text-light bg-primary">PUBLICATION REGISTRATION REPORT</div></a>
    
    <a href="{% url 'daily_income_expenditure_report' 'TIRUNELVELI' %}"><div class="box text-light bg-primary">DAILY INCOME EXPENDITURE DETAILS</div></a>

    <a href="{% url 'payment_voucher_report' 'TIRUNELVELI' %}"><div class="box text-light bg-primary">PAYMENT VOUCHER</div></a>
    
    <a href="{% url 'billwise_dashboard' 'TIRUNELVELI' %}"><div class="box text-light bg-primary">BILLWISE PAYMENT DASHBOARD</div></a>

    



    <a href="{% url 'work_status_list' %}" >
        <div class="box text-light bg-primary">UPLOAD WORK STATUS</div>
    </a>

</div>
{% endblock %}
