{% extends "logins/base.html" %}
{% block content %}
<h2 class="mt-5 text-center" style="font-weight:900;text-transform: uppercase;">Chennai Incharge Dashboard</h2>
<!-- <div class="user-details">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Branch:</strong> {{ user.branch }}</p>
    <p><strong>Department:</strong> {{ user.department }}</p>
</div> -->
<div class="d-flex justify-content-center align-items-center flex-wrap gap-5 mt-5">
    <a href="{% url 'phd_registration_report' 'Chennai' %}"><div class="box text-light bg-primary">PHD REGISTRATION REPORT</div></a>
    
    <a href="{% url 'project_registration_report' 'Chennai' %}"><div class="box text-light bg-primary">PROJECT REGISTRATION REPORT</div></a>
    
    <a href="{% url 'internship_registration_report' 'Chennai' %}"><div class="box text-light bg-primary">INTERNSHIP REGISTRATION REPORT</div></a>

<a href="{% url 'publication_registration_report' 'Chennai' %}"><div class="box text-light bg-primary">PUBLICATION REGISTRATION REPORT</div></a>
    
    <a href="{% url 'daily_income_expenditure_report' 'Chennai' %}"><div class="box text-light bg-primary">DAILY INCOME EXPENDITURE DETAILS</div></a>
    
    <a href="{% url 'payment_voucher_report' 'Chennai' %}"><div class="box text-light bg-primary">PAYMENT VOUCHER</div></a>
    
   <a href="{% url 'billwise_dashboard' 'Chennai' %}"><div class="box text-light bg-primary">BILLWISE PAYMENT DASHBOARD</div></a>
   
<!-- <a href="{% url 'purchase_order_report' 'Chennai' %}">
    <div class="box text-light bg-success">PURCHASE ORDER DASHBOARD</div>
</a> -->
    <!-- <a href="{% url 'logout' %}">Logout</a> -->

{% if department == 'Admin team' %}

    <a href="{% url 'work_status_list' %}" >
        <div class="box text-light bg-primary">UPLOAD WORK STATUS</div>
    </a>
</div>
{% endif %}
{% endblock %}