{% extends 'logins/base.html' %}
{% load static %}
{% block content %}
<style>
    body{
        display: flex;
             
        align-items: center;
        justify-content: center;
        height: 100vh;
        
    }
</style>
<div class="row container-fluid">
    
    <div class="col-md-6 d-flex justify-content-center align-items-center">
    <div style="width: 300px;">
        <h4 class="text-center" style="font-weight: 900;">REGISTER</h4>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="text-center mt-2">
                    <label class="form-label mt-2 ">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small mt-2">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <center>
            <button type="submit" class="btn btn-primary mt-2">Register</button></center>
            <p class="text-center mt-2">Already have an account? 
                <a  href="{% url 'login' %}">Login</a>
            </p>
        </form>
        </div>



    </div>

    <div class="col-md-6 d-flex justify-content-center align-items-center">
        
        <img src="{% static 'images/ABT_LOGO_BLACK_NO_BG.png' %}" width="500px" height="320px" alt="">
    
    </div>
</div>
                   
              
                <!-- <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger small">{{ field.errors|striptags }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success w-100">Register</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p class="mb-0">Already have an account? 
                        <a href="{% url 'login' %}">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}

